
<div id="nav-song">
    <a href="#/songs">Songs</a>
</div>

<div id="song-form">
    </br>
    <div>
        </br>
        <h2>Mp3 Song</h2>
    </div>
    </br>
    <div>
        <ul>
            <li>Titre : <input type="text" ng-model="song.title"><br><br></li>
            <li>Artiste : <input type="text" ng-model="song.artist"><br><br></li>
            <li>Album : <input type="text" ng-model="song.album"><br><br></li>
            <li>Année : <input type="text" ng-model="song.year"><br><br></li>
        </ul>
    </div>

    <div audios code="song.file_path"></div>
    </br>
    <input id="btn-edit" type="button" value="Sauver" ng-click="onSongSave(song)"></div>
</div>


